@model IEnumerable<RoomBooking.Models.Room>

@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Default</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxChairs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxChairs)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>-->
                <a asp-action="GetRoomBookings" asp-route-id="@item.RoomId">Select</a>

            </td>
        </tr>
}
    </tbody>
</table>
